---
name: Developer image
on:
  workflow_dispatch:
    inputs:
      commit:
        description: The branch, tag or SHA to checkout.
        required: true
        default: ''

jobs:
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.inputs.commit }}

      - name: Docker - GHCR Login
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker - Metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: type=raw,value=${{ github.event.inputs.commit }}
          flavor: latest=false

      - name: Docker - Metadata (Root)
        id: meta_root
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: type=raw,value=root-${{ github.event.inputs.commit }}
          flavor: latest=false

      - name: Docker - Metadata (Proton)
        id: meta_proton
        uses: docker/metadata-action@v5
        with:
          images: |
            ghcr.io/${{ github.repository }}
          tags: type=raw,value=proton-${{ github.event.inputs.commit }}
          flavor: latest=false

      - name: Docker - Build / Push
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          target: container
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Docker - Build / Push (Root)
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          target: container-root
          push: true
          tags: ${{ steps.meta_root.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Docker - Build / Push (Proton)
        uses: docker/build-push-action@v5
        with:
          platforms: linux/amd64,linux/arm64
          target: container-proton
          push: true
          tags: ${{ steps.meta_proton.outputs.tags }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
